<h2 class="text-center m-1">Registration From</h2>

<div class="container w-50 mb-5 p-2">
  <div class="" *ngIf="isRegistred">
    <p class="alert alert-success p-2">You Are Registared Now</p>
  </div>
  <form [formGroup]="validationForm" (ngSubmit)="add()">
    <div class="form-group my-3">
      <label for="inputName">Name : </label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="inputName"
        placeholder="Enter your name"
      />
    </div>
    <div class="" *ngIf="!isNameValid">
      <p class="alert alert-danger p-2">Name is Invalid</p>
    </div>

    <div class="form-group my-3">
      <label for="inputAge">Age : </label>
      <input
        formControlName="age"
        type="number"
        class="form-control"
        id="inputAge"
        placeholder="Enter your age"
      />
    </div>
    <div *ngIf="!isAgeValid">
      <p class="alert alert-danger p-2">Age should be between 20 and 40</p>
    </div>
    <div class="form-group my-3">
      <label for="inputEmail">Email : </label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="inputEmail"
        placeholder="Enter your email"
      />
    </div>
    <div *ngIf="!isEmailValid">
      <p class="alert alert-danger p-2">Email is invalid</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
